.square {
  background-color: skyblue;
  width: 2rem;
  height: 2rem;
  margin: .5px;
  padding: 0;
  
}

.instruction {
  margin-top: 1rem;
}

.fieldBtn {
  border: 3px solid yellow;
  margin: 1px;
}

#C0, 
#C1, 
#C2, 
#C3, 
#C4, 
#C5, 
#C6, 
#C7, 
#C8 {
  border-right: 4px dotted blue;
}

#G0, 
#G1, 
#G2, 
#G3, 
#G4, 
#G5, 
#G6, 
#G7, 
#G8 {
  border-left: 4px dotted blue;
}

#A3, 
#B3, 
#C3, 
#D3, 
#E3, 
#F3, 
#G3, 
#H3, 
#I3 {
  border-top: 4px dotted blue;
}

#A6, 
#B6, 
#C6, 
#D6, 
#E6, 
#F6, 
#G6, 
#H6, 
#I6 {
  border-top: 4px dotted blue;
}

/* border around the board */
#A0, 
#A1, 
#A2, 
#A3, 
#A4, 
#A5, 
#A6, 
#A7, 
#A8 {
  border-left: 4px solid red;
}

#I0, 
#I1, 
#I2, 
#I3, 
#I4, 
#I5, 
#I6, 
#I7, 
#I8 {
  border-right: 4px solid red;
}

#A0, 
#B0, 
#C0, 
#D0, 
#E0, 
#F0, 
#G0, 
#H0, 
#I0 {
  border-top: 4px solid red;
}

#A8, 
#B8, 
#C8, 
#D8, 
#E8, 
#F8, 
#G8, 
#H8, 
#I8 {
  border-bottom: 4px solid red;
}